
.headerRowBackground--mobile__container-Img {
  padding: 0;
}

.headerRow--header__top__mobile {
  margin-right: 10px;
}

.headerRowContainer--header__top--mobile {
  justify-content: center;
}

.headerRowContainer--header__top--desktop {
  justify-content: space-around;
}

.headerRowContainer--mobile__container-Img {
  background-color: rgb(227, 34, 34);
}

.headerRowContentContainer--header__top--mobile {
  background-color: rgb(0, 0, 0);
  padding: 0;
  margin-left: 0;
  max-width: 100%;
}

.headerRowContentContainer--header__top--desktop {
  padding: 0;
  margin-left: 0;
  max-width: 100%;
}

.styledLinkContent--department__two{
  background-color:blue
}

/* cesar arango*/
/*https://docs.google.com/forms/d/1GWQuGKoo1l49p5nskLaEG2cYM_8UKxTGBPH73SzcT2Y/edit?authuser=4*/