.imageElementLink--mobile__header__container-img {
  width: 100%;
}

.imageElement--mobile__header__container-img {
  width: 100%;
}

.container {
  max-width: none;
  padding: 0;
}
.logoLink--mobile__header-info--logo,
.logoLink--tablet__header-info--logo {
  background-color: rgb(0, 0, 0);
}

.logoContainer--mobile__header-info--logo,
.logoContainer--tablet__header-info--logo {
  padding: 4px;
}

.logoLink--header__top--logo {
  min-width: 210px;
}

.searchBarContainer {
  width: 86vw;
  margin-left: 10px;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
}

.logoContainer--header__top__mobile--threedots {
  display: contents;
}
.logoImage--header__top__mobile--threedots {
  padding: 0;
}

.logoContainer--header__top--mobile-threelines {
  min-width: 20px;
  padding: 0;
}

:global(.vtex-input-prefix__group) {
  border-radius: 8px;
  border-style: none;
}

.imageElement--desktop__slider-main--list {
  border-radius: 12px;
}

.imageElementLink--desktop__section-discountsOne--one,
.imageElementLink--desktop__section-discountsOne--two,
.imageElementLink--desktop__section-discountsOne--three,
.imageElementLink--desktop__section-discountsTwo--one,
.imageElementLink--desktop__section-discountsTwo--two {
  display: flex;
  justify-content: center;
}

.imageElement--desktop__section-discountsOne--one,
.imageElement--desktop__section-discountsOne--two,
.imageElement--desktop__section-discountsOne--three,
.imageElement--desktop__section-discountsTwo--one,
.imageElement--desktop__section-discountsTwo--two {
  display: block;
  width: 100%;
  border-radius: 12px;
}

.discountInsideContainer {
  left: 0;
  right: auto;
}

.imageElement--imagen_oferta,
.imageElement--imagen_delivery,
.imageElement--imagen_smarthome,
.imageElement--imagen_bicisyscooters,
.imageElement--imagen_sorteo {
  margin-right: 6px;
}

.logoContainer--desktop__footer-b1--colOne {
  padding: 0 16px 0 0;
}

.imageElement--desktop__footer-b1--colOne-facebook {
  margin-left: 4px;
  margin-right: 4px;
}

.imageElement--desktop__footer-b1--colOne-instagram {
  margin-left: 4px;
  margin-right: 4px;
}

.imageElement--desktop__footer-b1--colOne-youtube {
  margin-top: 3px;
  margin-left: 4px;
  margin-right: 4px;
}

.imageElement--desktop__foooter-b2--colOne--book-one {
  width: 108px;
  border: 1px solid #393939;
  border-radius: 4px;
}

.imageElement--tablet__lowermenu-two {
  width: 35px;
  padding: 8px 20px;
}

.imageElement--tablet__lowermenu-two--contactus {
  position: absolute;
  top: 25px;
  right: 10px;
}

.imageElement--tablet__lowermenu-three {
  width: 24px;
  margin-bottom: 5px;
}

.logoContainer--tablet__hamburguermenu {
  padding-left: 38px;
}

.logoContainer--tablet__hamburguermenu::after {
  display: flex;
  content: "Menú";
  color: #dfe7ec;
  margin-left: 30px;
  width: 30px;
  font-size: 12px;
}

.imageElementLink--global__home-image:hover {
  background-color: #dfe7ec;
}

.imageElement--mobile__footer-a3 {
  margin: 4px;
  padding-left: 20px;
  max-width: 80%;
}

.imageElementLink--mobile__footer-a3--libros {
  width: 180px !important;
}
.imageElement--mobile__footer-a3--libros {
  /*width: 148px;*/
  width: 68%;
  border: 1px solid #393939;
  border-radius: 4px;
  margin: 10px 0 10px 0px;
}

@media (max-width: 639px) {
  .imageElementLink--mobile__footer-a3--libros {
    margin-left: 18px;
  }
}

@media (min-width: 639px) {
  .logoContainer--mobile__header-info--logo {
    display: none;
    background-color: blue;
  }
}

.discountInsideContainer {
  top: 10px;
  left: 0;
  right: auto;
  background-color: #e53d52 !important;
  font-weight: 600 !important;
  height: 30px !important;
  width: 50px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px !important;
  border-radius: 5px;
}

@media only screen and (min-width: 1024px) {
  .discountInsideContainer {
    font-size: 19px;
    height: 26px;
    width: 93px;
  }
}

@media only screen and (min-width: 640px) {
  .discountInsideContainer {
    width: 63px;
  }
  .productBrandName {
    font-size: 10px;
    float: none;
    margin-right: 0;
  }
}

.buyButtonText--tablet__list-toCart--button {
  font-size: 14px;
}

.carouselGaleryThumbs {
  margin-left: 12px;
  width: 16% !important;
}

.productImagesThumb--desktop__product-stack--images {
  border: 1px solid #d9d9d9;
  border-radius: 7px;
  overflow: hidden;
}

.productImagesThumbActive--desktop__product-stack--images {
  border: 1px solid #d70d27;
}

.productImageTag--desktop__product-stack--images {
  border-right: 1px solid #d8d8d8;
  padding-right: 16px;
  width: 88% !important;
}

.productBrandContainer--desktop__product-brand {
  padding-top: 6px;
  width: auto !important;
}

.productBrandName--desktop__product-brand {
  color: #000;
  font-weight: 700;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 6px;
  text-transform: uppercase;
}

.imageElement--desktop__share {
  width: 22px;
}

.productNameContainer--desktop__product-name {
  all: unset;
}

@media only screen and (min-width: 1024px) {
  .productNameContainer--desktop__product-name {
    padding-bottom: 12px;
    border-bottom: 1px solid #dedede;
    margin: 5px 0 0;
  }
}

@media only screen and (min-width: 640px) {
  .productNameContainer--desktop__product-name {
    border-bottom: none;
  }
}

.productBrand--desktop__product-name {
  all: unset;
  font-weight: 500;
  font-size: 18px;
  color: #000;
  text-transform: capitalize;
}

.imageElement--desktop__product-body--payment-2--bbva {
  height: 12px;
  width: 28px;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 4px 2px;
}

.imageElement--desktop__product-body--payment-2--banks {
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 4px 2px;
}

.imageElement--desktop__product-body--payment-2--diners {
  height: 12px;
  width: 47px;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 4px 2px;
}

:global(.vtex-numeric-stepper__input) {
  color: #000;
  border-radius: 5px;
  border: 1px solid #d5222e !important;
  background: #fff;
  margin: 0 5px;
  width: 3rem !important;
  font-weight: 600;
}

:global(.vtex-numeric-stepper__plus-button),
:global(.vtex-numeric-stepper__minus-button) {
  color: #000;
  border-radius: 5px !important;
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
  font-weight: 600;
}

.imageElement--desktop__product-body--navidad-sub {
  height: 41px;
  width: 46px;
  margin-right: 6px;
}

.imageElement--desktop__product-body--location-registergps1 {
  margin-left: 2px;
}

.imageElement--desktop__product-body--location-registergps1,
.imageElement--desktop__product-body--location-registergps2 {
  width: 53px;
}
