.menuContainerNav--tablet__lowermenu {
  background-color: #000;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #0e0e0e;
  height: 70px;
  padding: 5px;
}

.menuContainer--tablet__lowermenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}


.menuContainerNav--desktop__header-categories--button {
  border: 1px solid #fff;
  border-radius: 10px;
  padding-top: 6px;
  padding-bottom: 2px;
  padding-left: 10px;
}
.styledLinkContainer--desktop__header-categories--button {
  margin: 0!important;
  padding: 4px 8px;
  display: flex;
}
.styledLinkContent--desktop__header-categories--button {
  font-size: 16px;
  margin-top: 2px;
}
.styledLink--desktop__header-categories--button {
  font-size: 12px;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
}

.styledLinkContainer--desktop__websites-tienda, .styledLinkContainer--desktop__websites-ventas, .styledLinkContainer--desktop__websites-ayuda {
  margin-left: 0.8rem;
  margin-right: 0.3rem;
}

.styledLinkContainer--desktop__websites-login {
  display: none;
}

.styledLink--desktop__websites-tienda ::before {
  content: "";
  display: block;
  background-size: contain;
  background-image: url(https://res.cloudinary.com/dby5zzxin/image/upload/v1669008759/coolb/f1sezmyvcjif08viqk5h.svg);
  background-repeat: no-repeat;
  height: 26px;
  width: 26px;
  margin-left: 10px;
  margin-bottom: 2.5px;
}
.styledLink--desktop__websites-ventas ::before {
  content: "";
  display: block;
  background-size: contain;
  background-image: url(https://res.cloudinary.com/dby5zzxin/image/upload/v1669065629/coolb/nbjzlql0smez5tqvqfz8.svg);
  background-repeat: no-repeat;
  height: 26.1px;
  width: 26px;
  margin-left: 24px;
  margin-bottom: 2.5px;
}
.styledLink--desktop__websites-ayuda ::before {
  content: "";
  display: block;
  background-size: contain;
  background-image: url(https://res.cloudinary.com/dby5zzxin/image/upload/v1669066536/coolb/jnwfvgijs8tnta13hhan.svg);
  background-repeat: no-repeat;
  height: 26.1px;
  width: 26px;
  margin-left: 39px;
  margin-bottom: 2.5px;
}
.styledLink--desktop__websites-tienda, .styledLink--desktop__websites-ventas, .styledLink--desktop__websites-ayuda {
  font-size: 13px;
  color: #fff;
  align-items: center;
  font-weight: 600;
}

.styledLinkContent--desktop__websites-tienda, .styledLinkContent--desktop__websites-ventas, .styledLinkContent--desktop__websites-ayuda {
  flex-direction: column;
}

.menuContainer--desktop__footer-b2--colOne {
  flex-direction: column;
}

.styledLinkContainer--desktop__footer-b2--colOne--tiendas {
  margin: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.styledLink--desktop__footer-b2--colOne--tiendas {
  color:#fff;
  font-size: 14px;
  font-style: normal;
  margin: 6px 0;
  font-weight: 400;
  line-height: 1.29;
}

.styledLink--desktop__footer-b2--colOne--tiendas:hover {
  color:#ababab
}

.styledLinkContent--mobile__footer-item--text {
  color: white;
  margin-left: 35px;
}

.styledLinkContent--mobile__footer-item--number {
  color: white;
  font-size: 23px;
  margin-bottom: 9px;
  /*margin-left: 18px;*/
  margin-left: 35px;
}

.styledLinkContent--mobile__footer-item--wsp {
  color: white;
  font-size: 23px;
  margin-bottom: 9px;
  margin-left: 35px;
  justify-content: flex-start;
}

.styledLinkContent--mobile__footer-item--wsp::before {
  background-image: url(https://res.cloudinary.com/dby5zzxin/image/upload/v1670007760/coolb/qaqrgj8vg3eunygdtkag.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  content: "";
  display: block;
  background-size: contain;
  margin-right: 5px;
  margin-top: 3px;
}


.menuItem--mobile__footer-item--text {
  margin: 5px 0px;
}


.menuContainerNav--desktop__productlist-custom {
  background-color: #fafafa;
}
.menuContainer--desktop__productlist-custom {
  flex-direction: column;
  margin-left: 34px;
  list-style-type: inherit;
}

.styledLinkContainer--desktop__productlist-custom--1, .styledLinkContainer--desktop__productlist-custom--2, .styledLinkContainer--desktop__productlist-custom--3, .styledLinkContainer--desktop__productlist-custom--4, .styledLinkContainer--desktop__productlist-custom--5 {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.styledLinkContent--desktop__productlist-custom--1 ,.styledLinkContent--desktop__productlist-custom--2, .styledLinkContent--desktop__productlist-custom--3, .styledLinkContent--desktop__productlist-custom--4, .styledLinkContent--desktop__productlist-custom--5 {
  justify-content: flex-start;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 500;
  color: rgb(102, 101, 101);
}

.styledLinkContent--desktop__productlist-custom--1::after {
  margin-left: 2px;
  content:"2400 x 1080 píxeles (FHD+)";
  font-size: 14px;
  font-weight: bold;
}

.styledLinkContent--desktop__productlist-custom--2::after {
  margin-left: 2px;
  content:"Sí";
  font-size: 14px;
  font-weight: bold;
}

.styledLinkContent--desktop__productlist-custom--3::after {
  margin-left: 2px;
  content:"64 + 8 + 8 + 2 MP";
  font-size: 14px;
  font-weight: bold;
}

.styledLinkContent--desktop__productlist-custom--4::after {
  margin-left: 2px;
  content:"13 MP";
  font-size: 14px;
  font-weight: bold;
}

.styledLinkContent--desktop__productlist-custom--5::after {
  margin-left: 2px;
  content:'6.43"';
  font-size: 14px;
  font-weight: bold;
}
