.container {
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (min-width: 1024px) {
  .container {
    margin-bottom: 8px;
    padding-left: 20px;
  }
}

.link {
    font-size: 9px;
    color:grey;
    font-family: Ubuntu;
    width: max-content!important;
}

.homeIcon {
    display: none;
}

.homeLink::after {
    font-size: 9px;
    color: grey;
    font-family: Ubuntu;
    content: "COOLBOX"
}

.arrow {
    display: flex;
    padding: 0;
}

.caretIcon {
    display: none;
}

.link:last-child {
    color:#bf0c2a
}

.link:not(:first-child)::before {
    content: "/";
    margin-right: 3px;
}