.newsletterForm--desktop__footer-form {
  flex-direction: column;
}

.formSubmitContainer--desktop__footer-b1--form :global(.vtex-button) {
  color: #fff;
  background-color: red;
  border-color: red;
}

.confirmationCheckboxContainer :global(.vtex-checkbox__label) {
  color: #fff;
}
