.brandName {
    text-transform: uppercase;
    color:black
}

.description {
    font-family: Montserrat;
    font-weight: 500;
    font-size: medium;
    color:black
}

.imageContainer {
    
    height: 200px;
    width: 200px;
}

.container--mobile__shelf {
    max-width:200px !important
}

.brandName--mobile__shelf-details {
    font-size: 12px;
}

.imageWrapper--mobile__shelf {
    display: block;
    height: 230px;
}

.nameContainer--mobile__shelf-details {
    padding: 0px 0px;
}

.image--desktop__grid {
    max-height: 200px;
    height: 200px;
    margin-bottom: 24px!important;
}

.imageContainer--desktop__grid {
    height: 224px;
}