.paginationDotsContainer--desktop__slider-main--list {
  transform: translateY(-18px);
}
.paginationDot--desktop__slider-main--list {
  background-color: white;
  height: 1rem!important;
  width: 1rem!important;
  box-shadow: 0 1px 3px #212121;
}
.paginationDot--desktop__slider-main--list--isActive {
  background-color: rgb(220, 40, 83);
}


.imageElement--home__slider {
  max-height: initial !important;
}

.caretIcon--home__slider {
  color:white;
}

.sliderLayoutContainer--desktop__slider-main--list {
  max-width: 1600px;
  margin: 10px auto!important;
  padding-bottom: 0;
}
/*.sliderArrows--home__slider{
  background-color: green;
}*/
.caretIcon--desktop__slider-main--list {
  color:#fff;
  height: 16px;
  padding: 8px;
  background: rgba(0,0,0,.18);
  border-radius: 4px;
}

