.currencyContainer--global__price {
  margin-left: 46px;
}

.sellingPrice--hasUnitMultiplier,
.sellingPrice--hasListPrice,
.sellingPrice {
  text-align: start;
}

.currencyCode,
.currencyLiteral,
.currencyInteger,
.currencyGroup {
  color: #d70d27;
}

.currencyCode--global__price,
.currencyLiteral--global__price,
.currencyInteger--global__price,
.currencyGroup--global__price,
.currencyInteger--global__price {
  font-family: Montserrat;
  font-size: 18px;
  color: #000;
}

.currencyContainer--desktop__product-body--credit {
  font-size: 24px;
}

.currencyContainer--desktop__grid-price {
  margin-right: 10px;
}

@media only screen and (max-width: 640px) {
  .sellingPrice--hasUnitMultiplier,
  .sellingPrice--hasListPrice,
  .sellingPrice {
    text-align: center;
  }
  .currencyCode--desktop__grid-price,
  .currencyLiteral--desktop__grid-price,
  .currencyInteger--desktop__grid-price,
  .currencyGroup--desktop__grid-price {
    font-size: 18px;
    font-family: ui-serif;
  }
}

.currencyCode--desktop__grid-price,
.currencyLiteral--desktop__grid-price,
.currencyInteger--desktop__grid-price,
.currencyGroup--desktop__grid-price {
  color: #000;
}

.sellingPriceValue--mobile__price .currencyCode--mobile__price,
.sellingPriceValue--mobile__price .currencyLiteral--mobile__price,
.sellingPriceValue--mobile__price .currencyInteger--mobile__price,
.sellingPriceValue--mobile__price .currencyGroup--mobile__price,
.currencyInteger--mobile__price {
  color: #d70d27;
}

.listPriceValue--mobile__price .currencyCode--mobile__price,
.listPriceValue--mobile__price .currencyLiteral--mobile__price,
.currencyInteger--mobile__price,
.currencyGroup--mobile__price,
.currencyInteger--mobile__price {
  color: black;
}

.currencyContainer--desktop__productlist-options--sellingp {
  font-size: 18px;
}

.listPrice--desktop__product-body--credit2,
.currencyCode--desktop__product-body--credit2,
.currencyLiteral--desktop__product-body--credit2,
.currencyInteger--desktop__product-body--credit2,
.currencyGroup--desktop__product-body--credit2 {
  color: #979899;
  font-size: 15px;
}
