.flexRow--tablet__lowermenu {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  overflow: hidden;
  box-shadow: 14px 14px 14px 14px rgb(0 0 0 / 28%);
  -webkit-box-shadow: 14px 14px 14px 14px rgb(0 0 0 / 28%);
}

.flexRow--mobile__lowermenu {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  overflow: hidden;
  box-shadow: 14px 14px 14px 14px rgb(0 0 0 / 28%);
  -webkit-box-shadow: 14px 14px 14px 14px rgb(0 0 0 / 28%);
}
@media (min-width: 640px) {
  .flexRow--mobile__lowermenu {
    display: none;
  }
}

@media (max-width: 639px) {
  .flexRow--tablet__lowermenu {
    display: none;
  }
}

.flexColChild--tablet__lowermenu-column-four {
  display: flex;
  justify-content: center;
  margin-top: 2px;
}

.flexColChild--tablet__lowermenu-column-five {
  display: flex;
  justify-content: center;
}

.flexRow--mobile__header-threedots {
  padding: 0 10px;
}

.flexRowContent--desktop__section-temporal--one,
.flexRowContent--desktop__section-temporal--two {
  justify-content: center;
}

.flexColChild--section__one--image {
  max-width: 600px;
}

.flexCol--section__two--item :global(.vtex-store-link-0-x-buttonLink) {
  background-color: rgb(255, 155, 61);
} /*global solo se puede usar cuando haya un vtex por delante.*/
/* pudeen haber varios global. No se recomienda usar global" */

.flexRow--desktop__section-temporal--one,
.flexRow--desktop__section-temporal--two {
  margin: 0px auto;
  max-width: 1440px;
  padding-bottom: 10px;
}

.flexRow--desktop__home-section--products {
  max-width: 1440px;
  margin: auto;
  padding-bottom: 10px;
}
.flexRow--desktop__home-blockcontent-white {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 7%);
}
.flexRowContent--desktop__home-blockcontent-white {
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.flexRow--desktop__section-discountsOne,
.flexRow--desktop__section-discountsTwo {
  margin: 0 auto;
  max-width: 1440px;
  padding-bottom: 10px;
}

.flexRowContent--desktop__section-discountsOne,
.flexRowContent--desktop__section-discountsTwo {
  justify-content: center;
  gap: 5px;
}
.flexRow--desktop__section-smartphones {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 7%);
  margin: 0 auto;
  cursor: pointer;
  width: 1440px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}

.flexRowContent--desktop__section-smartphones {
  height: 40px;
  justify-content: center;
}

.flexColChild--desktop__section-smartphones--column {
  display: flex;
  justify-content: center;
  align-content: center;
}

.flexCol--desktop__section-smartphones--title {
  justify-content: flex-end;
}

.flexRow--desktop__slider-product--one {
  width: 1440px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 7%);
  margin: 40px auto;
}

.flexRow--desktop__slider-product--three {
  width: 1440px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 7%);
  margin: 0px auto;
}
@media (max-width: 1440px) {
  .flexRow--desktop__section-smartphones {
    width: 1000px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .flexRow--desktop__slider-product--one {
    width: 1000px;
  }
  .flexRow--desktop__slider-product--two {
    width: 1000px;
    margin: 0 auto;
  }
  .flexRow--desktop__slider-product--three {
    width: 1000px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 7%);
    margin: 0px auto;
  }
}

.flexRow--desktop__slider-product--four {
  margin-top: 30px;
}

.flexColChild--global__shelf-details:nth-child(2n) {
  height: 78px !important;
}

.flexColChild--global__shelf-details:nth-child(4n) {
  height: 20px !important;
}

.flexCol--global__shelf-details {
  height: auto !important;
  border: 2px solid transparent;
  margin: 0;
}

.flexCol--global__shelf-details:hover {
  border: 2px solid rgba(225, 225, 225, 0.559);
}

.flexRow--desktop__footer-b1 {
  margin-top: 13px;
  background-color: #393939;
  box-shadow: -1px 3px 7px 0 #d8d8d8;
}

.flexRow--desktop__footer-b1--block {
  max-width: 1440px;
  padding: 40px 0 14px 10px;
  margin: auto;
}

.flexRowContent--desktop__footer-b1--block {
  justify-content: space-between;
}

.flexCol--desktop__footer-b1--colOne {
  flex-direction: row;
  align-items: center;
}

.flexRow--desktop__footer-b1--colOne-social {
  display: flex;
  margin-top: 5px;
  border-left: 1px solid #fff;
  padding-left: 16px;
}

.flexRow--desktop__footer-b2 {
  background-color: #393939;
}

.flexRow--desktop__footer-b2--block {
  border-top: 1px solid #fff;
  margin: 0 30px 40px;
  max-width: 1440px;
  padding-bottom: 10px;
}

.flexRow--desktop__footer-form-one {
  display: inline-block;
  width: 100%;
}
.flexRow--desktop__footer-form-one,
.flexRow--desktop__footer-form-two {
  padding: 10px 0;
}

.flexRowContent--desktop__footer-b2--colOne--row {
  display: block;
}

.flexRow--desktop__footer-b2--colOne--book {
  flex-direction: row;
  align-items: center;
}

.flexRow--desktop__footer-copyright {
  background-color: #292929;
  justify-content: center;
  display: flex;
}

.flexRow--mobile__footer-a1 {
  background-color: #393939;
  padding: 20px 0;
}

.flexRow--mobile__footer-a1-a {
  margin-left: 22px;
}

.flexRowContent--mobile__footer-a1-a {
  display: flex;
}

.flexRowContent--mobile__footer-b1--colOne-social {
  display: flex;
  width: 110px;
  margin-top: 6px;
}

.flexRowContent--mobile__footer-b1--colOne-social {
  border-left: 1px solid #fff;
}

.flexRow--mobile__footer-a2 {
  background-color: #393939;
  padding: 10px 0;
}

.flexColChild--mobile__footer-a2 {
  padding: 6px 26px;
}

.flexRow--mobile__footer-a3 {
  padding: 16px 0 70px;
  background-color: #393939;
}

.flexRow--mobile__home-products {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 22px;
  margin-right: 18px;
  border: 1px solid hsla(0, 0%, 76.9%, 0.5);
  box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
  border-radius: 20px;
  padding: 10px;
}

.flexRowContent--mobile__footer-a3--libros .stretchChildrenWidth {
  width: 36% !important;
}

.flexRowContent--mobile__footer-a3--libros {
  display: flex;
}

@media (max-width: 640px) {
  .flexRowContent--mobile__footer-a3--libros .stretchChildrenWidth {
    width: 50%;
  }
}

.flexRow--mobile__footer-a3--copyright {
  background-color: #292929;
}

.flexRow--minicart__footer {
  box-shadow: 0 0 12px rgb(0 0 0 / 15%);
}

.flexRowContent--desktop__department-search {
  justify-content: space-between !important;
  align-items: center;
  background-color: #fff;
  padding: 10px 2px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 7%);
  border-radius: 3px;
}

.flexRowContent--desktop__department-search
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: auto !important;
}

.flexRowContent--desktop__department-search--left,
.flexRowContent--desktop__department-search--right {
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.flexRowContent--desktop__department-search--left
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: auto !important;
}

.flexCol--desktop__department-search--left-title {
  width: 240px !important;
}

.flexCol--desktop__department-search--right-infochange {
  margin-right: 20px;
}

.flexRow--global__search-results {
  padding-top: 12px;
}

.flexRowContent--global__search-results
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: auto !important;
}

.flexCol--global__filter-col {
  max-width: 500px;
  min-width: 240px;
  margin-right: 10px;
}

.flexCol--global__content-col {
  background-color: #fff;
}

.flexRowContent--desktop__list {
  justify-content: space-between !important;
}

.flexCol--desktop__productlist-image {
  width: 180px !important;
  height: 200px !important;
  margin: 10px 0 0 10px;
  margin-right: 10px;
}

.flexCol--desktop__productlist-text {
  text-align: left;
  margin-right: 20px;
  margin-left: 20px;
  width: 440px !important;
}

.flexRowContent--desktop__productlist-text-row--title {
  justify-content: flex-start;
  align-items: center;
}

.flexCol--desktop__productlist-options {
  text-align: left !important;
  min-width: 360px !important;
}

.flexColChild--desktop__productlist-options {
  height: auto !important;
}

.flexColChild--desktop__productlist-options--price {
  height: auto !important;
}

.flexRowContent--desktop__productlist-options--button {
  padding-top: 5px;
  margin-top: 10px;
}

.flexRowContent--desktop__productlist-options--checkout {
  padding: 5px 0;
  width: 98%;
  flex-direction: row-reverse;
}

.flexColChild--desktop__productlist-options
  :global(.vtex-product-price-1-x-listPrice)
  :global(.vtex-product-price-1-x-currencyCode) {
  color: #000000;
}

.flexColChild--desktop__productlist-options
  :global(.vtex-product-price-1-x-listPrice)
  :global(.vtex-product-price-1-x-currencyLiteral) {
  color: #000000;
}

.flexColChild--desktop__productlist-options
  :global(.vtex-product-price-1-x-listPrice)
  :global(.vtex-product-price-1-x-currencyInteger) {
  color: #000000;
}

.flexColChild--desktop__productlist-options
  :global(.vtex-product-price-1-x-listPrice)
  :global(.vtex-product-price-1-x-currencyGroup) {
  color: #000000;
}

.flexRowContent--desktop__productlist-options--checkout :global(.vtex-button) {
  background-color: #fff;
  border-radius: 30px;
  border-color: #d5222e;
  border-width: 1px;
  /*height: 36px!important;*/
  height: 30px !important;
}

.flexRowContent--desktop__productlist-options--checkout
  :global(.vtex-button__label) {
  padding: 0 !important;
  width: 210px;
}

/*.flexRowContent--global__search-results--content .stretchChildrenWidth {
  width: 1200px !important;
}*/

.flexRowContent--desktop__grid-price {
  justify-content: center;
}

.flexCol--tablet__department-header {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 7%);
  border-radius: 3px;
  gap: 10px;
}

.flexRowContent--tablet__department-header--middle,
.flexRowContent--tablet__department-header--bottom {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flexCol--tablet__department-header--bottom-left {
  width: calc(50vw - 20px);
}

.flexColChild--tablet__list-info--description {
  height: auto !important;
}

.flexRow--tablet__list-info--description-brand {
  text-align: left;
}

.flexRowContent--tablet__list-info--description-brand
  :global(.vtex-reviews-and-ratings-3-x-stars) {
  font-size: 18px;
}

.flexRow--tablet__list-toCart {
  margin-top: 18px;
}

.flexRowContent--tablet__list-toCart :global(.vtex-button) {
  border-color: #d5222e;
  border-width: 1.5px;
  width: 54% !important;
  background-color: #fff;
  border-radius: 22px;
}

.flexRowContent--tablet__list-toCart :global(.vtex-button__label) {
  padding-left: 0px;
  padding-right: 0px;
  color: #d5222e;
}

.flexRowContent--phone__list-info {
  display: flex;
}

.flexRowContent--phone__list-info :nth-child(2n + 1) {
  width: 115px !important;
}

.flexRowContent--phone__list-info :nth-child(2n + 2) {
  width: 200px !important;
  justify-content: flex-start;
}

.flexRowContent--phone__list-info :nth-child(2n + 2) .flexRowContent {
  width: 300px !important;
}

.flexRowContent--phone__list-info--description-title {
  display: flex;
  text-align: left;
}

/*PRODUCT*/
.flexRow--desktop__product {
  max-width: 1440px;
  margin: auto;
  padding-bottom: 10px;
}

.flexRowContent--desktop__product-main {
  background: #fff;
  border-radius: 2px;
  margin-bottom: 30px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 7%);
}

.flexRowContent--desktop__product-main--info {
  margin: 0;
  position: relative;
  padding: 5px 0;
}

/*.flexRowContent--desktop__product-main--info :first-child {
  width: 45% !important;
}*/

/*.flexRowContent--desktop__product-main--info :nth-child(2n) {
  width: 55% !important;
}*/