/*@font-face {
    font-family: "opensans";
    src: url("/assets/fonts/opensans-bold.woff2");
    font-weight: 400;
}*/
@font-face {
    font-family: "Wolf Sans";
    src: ("/assets/fonts/Wolf_Sans_Regular.ttf");
    font-weight: 400;
}