.paragraph--header__top--login {
  margin: 0;
  color: #fff;
  font-size: 13px;
  min-width: 76px;
}

.wrapper--tablet__lowermenu-two--contactus {
  color: #fff;
  font-size: 12px;
}

.paragraph--tablet__lowermenu-two--contactus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paragraph--tablet__lowermenu-two--contactus::before {
  content: "";
  background-size: contain;
  background-image: url(https://res.cloudinary.com/dby5zzxin/image/upload/v1669066536/coolb/jnwfvgijs8tnta13hhan.svg);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.wrapper--tablet__lowermenu-two--layout--contactus {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.paragraph--tablet__lowermenu-two--layout--contactus {
  line-height: 1;
}

.wrapper--tablet__lowermenu-two--contactus-one {
  color: #4a4a4a;
}

.paragraph--tablet__lowermenu-two--contactus-one {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
}

.paragraph--tablet__lowermenu-two--contactus-two {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.paragraph--tablet__lowermenu-two--contactus-two::before {
  content: "";
  background-size: contain;
  background-image: url(https://res.cloudinary.com/dby5zzxin/image/upload/v1670258187/coolb/bnqtta3wapp79rzexq7h.svg);
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  margin: 5px;
}

.wrapper--tablet__lowermenu-two--contactus-three {
  color: #4a4a4a;
}

.paragraph--tablet__lowermenu-two--contactus-three {
  line-height: 1;
  margin: 0;
  font-size: 12px;
}

.paragraph--tablet__lowermenu-three {
  line-height: 1;
  margin: 0;
  font-size: 12px;
  color: #fff;
}

.paragraph--section__one--title {
  color: white;
}

.container--global__ofertas,
.container--global__delivery,
.container--global__smarthome,
.container--global__bicisyscooters,
.container--global__chatea,
.container--global__zonaoutlet,
.container--global__tracking,
.container--global__sorteo {
  display: inline-block;
}

.wrapper--desktop__section-smartphones--title {
  display: flex;
}

.container--desktop__section-smartphones--title {
  justify-content: center;
}

.paragraph--desktop__section-smartphones--title {
  line-height: 0.3;
}

.wrapper--global__price {
  color: rgb(255, 4, 4);
}
.paragraph--global__ofertas,
.paragraph--global__delivery,
.paragraph--global__smarthome,
.paragraph--global__bicisyscooters,
.paragraph--global__chatea,
.paragraph--global__zonaoutlet,
.paragraph--global__tracking,
.paragraph--global__sorteo {
  font-size: 13px;
  line-height: 1;
}
.paragraph--global__price {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
}

.container--desktop__producttwo-title--container {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.paragraph--desktop__producttwo-title--container,
.paragraph--desktop__productfour-title--container {
  line-height: 1;
  font-size: 24px;
  font-weight: 700;
  color: #1d1d1d;
  font-family: Montserrat;
  margin: 0;
  display: flex;
  align-items: center;
}

.paragraph--desktop__producttwo-title--container::before {
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  content: "";
  display: block;
  float: left;
  background-size: contain;
  margin-right: 10px;
  background-image: url(https://res.cloudinary.com/dby5zzxin/image/upload/v1669832207/coolb/r7zamfjzkjpywdsokoek.svg);
}

.paragraph--desktop__productfour-title--container::before {
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  content: "";
  display: block;
  float: left;
  background-size: contain;
  margin-right: 10px;
  background-image: url(https://res.cloudinary.com/dby5zzxin/image/upload/v1669912073/coolb/d9inqg9ux2osluyq0j4m.svg);
}

.paragraph--desktop__footer-b1--colTwo-text {
  line-height: 1;
  color: #fff;
  font-size: 20px;
  margin: 0;
}

.paragraph--desktop__footer-b2--colOne--title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 8px;
  text-align: left;
}

.link--desktop__footer-b2--colOne--searchtiendas {
  background-color: #e40521;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 220px;
  height: 44px;
  border-radius: 8px;
}

.container--desktop__footer-b2--colOne--title {
  justify-content: flex-start;
}

.container--desktop__footer-b2-colThree--number {
  justify-content: flex-start;
}

.container--desktop__footer-b2-colThree--schedule {
  justify-content: flex-start;
}

.paragraph--desktop__footer-b2--colOne--book-two {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  margin: 6px 0;
  font-weight: 400;
  letter-spacing: normal;
  text-align: left;
}
.paragraph--desktop__footer-b2-colThree--number {
  display: flex;
  width: 250px;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 6px 0;
}

.container--desktop__footer-b2-colFour--wsp {
  justify-content: flex-start;
}
.paragraph--desktop__footer-b2-colFour--wsp {
  display: flex;
  width: 250px;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 6px 0;
}
.paragraph--desktop__footer-b2-colFour--wsp::before {
  background-image: url(https://res.cloudinary.com/dby5zzxin/image/upload/v1670007760/coolb/qaqrgj8vg3eunygdtkag.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  content: "";
  display: block;
  background-size: contain;
  margin-right: 5px;
}

.link--desktop__footer-b2-colThree--number {
  color: #fff;
  text-decoration: none;
}

.link--desktop__footer-b2-colThree--number:hover {
  color: #ababab;
}

.link--desktop__footer-b2-colFour--wsp {
  color: #fff;
  text-decoration: none;
}
.link--desktop__footer-b2-colFour--wsp:hover {
  color: #ababab;
}

.paragraph--desktop__footer-b2-colThree--schedule {
  width: 210px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  margin: 6px 0;
  font-weight: 400;
  letter-spacing: normal;
  text-align: left;
}

.link--desktop__footer-b2-colThree--mail {
  font-size: 13px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

.link--desktop__footer-b2-colThree--mail:hover {
  color: #ababab;
}

.container--desktop__footer-b2-colThree--mail {
  justify-content: flex-start;
}

.paragraph--desktop__footer-copyright {
  color: #fff;
  font-size: 14px;
}

.paragraph--desktop__footer-b1--colTwo-text {
  color: #fff;
  font-size: 20px;
  padding: 0 22px;
  margin-top: 10px;
}

.paragraph--mobile__footer-a2--text {
  color: #fff;
  font-size: 20px;
  padding: -1 22px;
  margin-top: 10px;
}

.wrapper--mobile__text-aboutus {
  margin-left: 40px;
}

.paragraph--mobile__text-aboutus {
  color: white;
  font-size: 18px;
}

.container--mobile__text-aboutus {
  width: 90%;
}

.paragraph--mobile__footer-a3--libros {
  /*margin-left: 45px;*/
  color: #fff;
}

.container--mobile__footer-a3--copyright {
  justify-content: center;
}

.paragraph--mobile__footer-a3--copyright {
  line-height: 1;
  color: #fff;
  font-size: 14px;
  font-family: sans-serif;
}

.container--minicart-default-empty-state {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paragraph--minicart-default-empty-state {
  line-height: 1;
  font-family: Montserrat;
  font-size: 14px;
  color: #000;
}

.container--minicart-footer {
  display: flex;
  justify-content: center;
}

.paragraph--minicart-footer {
  line-height: 1;
  text-transform: uppercase;
  font-size: 15px;
  font-family: sans-serif;
  color: #8a8a8e;
  display: flex;
  align-items: center;
}

.paragraph--desktop__department-infochange {
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
  color: #000;
  margin: 0;
}

.container--desktop__productlist-seller {
  justify-content: flex-start;
}

.paragraph--desktop__productlist-seller {
  color: #a4a4a4;
  margin: 5px 0;
  font-size: 12px;
  line-height: 1;
}

.paragraph--desktop__productlist-custom--link {
  line-height: 0;
}

.link--desktop__productlist-custom--link {
  color: #d5222e;
  font-size: 15px;
}

.wrapper--desktop__productlist-options--priceWeb {
  color: #d5222e;
}

.paragraph--desktop__productlist-options--priceWeb {
  line-height: 1;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
}

.paragraph--desktop__grid-seller {
  color: #a4a4a4;
  margin: 5px 0;
  font-size: 12px;
}
