/*.paragraph {
  margin:0
}*/
.paragraph--header__top--login {
  margin: 0;
  color: #fff;
  font-size: 13px;
  min-width: 76px;
}

.paragraph--section__one--title {
  color: white;
  /*margin: 0 10px*/
}

.container--global__ofertas, .container--global__delivery, .container--global__smarthome, .container--global__bicisyscooters, .container--global__chatea, .container--global__zonaoutlet, .container--global__tracking,.container--global__sorteo {
  display: inline-block;
}

.wrapper--desktop__section-smartphones--title {
  display: flex;
}

.container--desktop__section-smartphones--title {
  justify-content: center;
}

.paragraph--desktop__section-smartphones--title {
  line-height: 0.3;
}