/*.paragraph {
  margin:0
}*/
.paragraph--header__top--login {
  margin: 0;
  color: #fff;
  font-size: 13px;
  min-width: 76px;
}

.paragraph--section__one--title {
  color: white;
  /*margin: 0 10px*/
}

.container--global__ofertas, .container--global__delivery, .container--global__smarthome, .container--global__bicisyscooters, .container--global__chatea, .container--global__zonaoutlet, .container--global__tracking,.container--global__sorteo {
  display: inline-block;
}

.wrapper--desktop__section-smartphones--title {
  display: flex;
}

.container--desktop__section-smartphones--title {
  justify-content: center;
}

.paragraph--desktop__section-smartphones--title {
  line-height: 0.3;
}

.wrapper--global__price {
  color:rgb(255, 4, 4)
}
.paragraph--global__ofertas, .paragraph--global__delivery, .paragraph--global__smarthome, .paragraph--global__bicisyscooters, .paragraph--global__chatea, .paragraph--global__zonaoutlet, .paragraph--global__tracking, .paragraph--global__sorteo  {
  font-size: 13px;
  line-height: 1;
}
.paragraph--global__price {
  margin:0;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
}


.container--desktop__producttwo-title--container {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.paragraph--desktop__producttwo-title--container {
  line-height: 1;
  font-size: 24px;
  font-weight: 700;
  color: #1d1d1d;
  font-family: Montserrat;
  margin: 0;
  display: flex;
  align-items: center;
}

.paragraph--desktop__producttwo-title--container::before {
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  content: "";
  display: block;
  float: left;
  background-size: contain;
  margin-right: 10px;
  background-image: url(https://res.cloudinary.com/dby5zzxin/image/upload/v1669832207/coolb/r7zamfjzkjpywdsokoek.svg);
}

.paragraph--desktop__footer-b1--colTwo-text {
  line-height: 1;
  color: #fff;
  font-size: 20px;
  margin: 0;
}